* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Indie Flower", cursive;
  min-height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#3aa7d4), color-stop(#c135c5), to(#603ad4));
  background: linear-gradient(to top, #3aa7d4, #c135c5, #603ad4);
  background-attachment: fixed;
}

#pageContainer {
  width: 1000px;
  margin: auto;
}

.header {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 500;
  color: white;
}

#notebook {
  height: 200px;
  background-image: url("../assets/notebookBG.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  position: relative;
}

#form {
  position: absolute;
  left: 125px;
  top: 50px;
}

#todoInput {
  width: 800px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.5rem;
  font-family: "Indie Flower", cursive;
  resize: none;
  line-height: 1.2;
  height: 140px;
}

#buttomSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 20px 0;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

#buttomSection fieldset {
  border: 2px solid #00fffa;
  border-radius: 5px;
  padding: 15px;
  display: inline-block;
  width: 580px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

#buttomSection fieldset:hover {
  color: #00fffa;
  -webkit-box-shadow: -6px 6px 0px 0px #00fffa;
          box-shadow: -6px 6px 0px 0px #00fffa;
}

#buttomSection fieldset legend {
  font-size: 1.1rem;
  font-weight: normal;
  padding: 0 12px;
  color: white;
}

#dateAndTimeInputs {
  width: 100%;
  text-align: center;
}

.customInput {
  padding: 2px 10px;
  margin: 0 15px;
  cursor: pointer;
}

#dateInput {
  width: 40%;
}

#timeInput {
  width: 40%;
}

#addAndResetButtons {
  height: 80px;
  width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.customButton {
  font-size: 26px;
  border: none;
  border-radius: 5px;
  color: darkblue;
  background-color: white;
  width: 45%;
  -webkit-box-shadow: 0px 7px 0px 0px #00fffa;
          box-shadow: 0px 7px 0px 0px #00fffa;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

#addButton:hover, #clearButton:hover {
  color: #00fffa;
  -webkit-box-shadow: -6px 6px 0px 0px #00fffa;
          box-shadow: -6px 6px 0px 0px #00fffa;
}

#errorMsgs {
  text-align: center;
  font-size: 1.4rem;
  margin: 0;
  color: rgb(255, 255, 255);
  background: red;
}

#notes {
  margin: 100px auto auto;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px;
}

.note {
  height: 280px;
  width: 230px;
  margin: 15px 10px;
  background-image: url("../assets/note.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.emptyNotesImage {
  margin: auto;
  width: 500px;
}

.noteNewest {
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
}

.note:hover .deleteButton {
  visibility: visible;
}

.deleteButton {
  position: absolute;
  right: 10px;
  font-size: 25px;
  visibility: hidden;
  cursor: pointer;
}

.noteTextArea {
  /* max-height: 50%; */
  width: 80%;
  word-wrap: break-word;
  overflow-y: auto;
}

.noteTextArea::-webkit-scrollbar {
  /* visibility: hidden; */
}

.noteFinishTime, .noteFinishDate {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.editNoteTextArea {
  background: none;
  resize: none;
  min-height: 100px;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */